#headline img {
    padding-bottom: 23px;
}

#address {
    padding-left: 0px;
    margin-bottom: 49px;
}

#address p {
    padding-left: 40px;
}

.navblock h1 {
    padding-left: 40px;
}

.navblock ul {
    padding-left: 0px;
    padding-right: 5px;
}
